Flask
Flask-CORS
Flask-Session
Flask-WTF
Flask-Login
python-dotenv
requests
openai
APScheduler
pydantic
marshmallow
slack-sdk
urllib3
bcrypt
PyJWT
Werkzeug
email-validator
gunicorn
serverless-wsgi
psycopg2-binary
